<% #!/usr/bin/ruby %>
<!doctype html>
<html>
  <head>
    <title><%=@title || "Student Information System"%></title>
    <meta charset="utf-8"/>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class = "header">
      <h1><img src="/images/school-children.jpg" alt="school children" style="float:left" width=70% height=70%>
      Student <br>Information <br>System<br></h1>
    </div>
    <br>  <br>
    <div class = "topnav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/students">Students</a>
        <a href="/comments">Comments</a>
        <a href="/video">Video</a>
        <% if(session[:admin] == true)%>
            <a href="/logout">Logout</a>
        <%else%>
            <a href="/login">Login</a>
        <%end%>
    </div>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
