<h2>Login</h2>
<h4>Please log in</h4>
<form action="/login" method="POST">
  username: <input type='text' id="username" name='login[username]'></input><br>
  password: <input type='text' id="password" name='login[password]'></input>
  <br>
  <input type='submit' value='Log In'></input>
</form>
